body{
    background: url("forest.jpg");
     background-repeat: no-repeat;
    background-size:cover;
}


.navcontent li a{
    color: yellow;
    font-weight: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: gold;
    font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

h4{
    color: yellow;
}

h3{
    color: yellow;
}

h5{
    color: yellow;
}

.fallbackLabel{
    color: yellow;
}

.paragraph p{
    color: antiquewhite;
}

.container{
    color: yellow;
}

.footer{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
    position: absolute;
}