body{
    background-image: url(forest.jpg);
         background-repeat: no-repeat;
    background-size:cover;
}

.col-3{
    color: yellow;
    font-family: serif;
}

.col-4{
    color: yellow;
    font-family: serif;
}

.col-6{
    color: yellow;
    font-family: serif;
}

.col-2{
    color: yellow;
    font-family: serif;
    font-size: larger;
}

.col-1{
    color: yellow;
    font-family: serif;
    font-size: 20px;
}

.resources{
    text-align: center;
}