body{
    background-image: url(forest.jpg);
         background-repeat: no-repeat;
    background-size:cover;
}



.col-3{
    color: gold;
    font-family: 'montserrat', sans-serif;
}

.col-4 h2{
    color: gold;
    font-family: 'montserrat', sans-serif;
}

.col-4 a:hover{
    color: gold;
}

.col-4 a:visited{
    color: gold;
}

.col-4 a:active{
    color: gold;
}
}
.col-6{
    color: gold;
    font-family:  'montserrat', sans-serif;
}

.col-2{
    color: gold;
    font-family: 'montserrat', sans-serif;
    font-size: larger;

}

.col-1{
    color: gold;
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
}

.resources h6{
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    color: gold;
}

.col-3 a:hover{
    color: gold;
    
}
.resources{
    font-family: 'montserrat', sans-serif;
    text-align: center;
}

.resources a:visited{
    color: gold;
}

.resources a:active{
    color: gold;
}

.footer{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.notice p{
    color: gold;
    text-align: right;
    margin: 0px;