.nav.navbar-nav.navbar-center{
    text-decoration: underline;
}

div p{
    color: white;
    text-indent: 30px;
    margin:0px;
    padding:0px;
}

.navbar{
    text-align: right;
    color: white;
    text-indent: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navcontent{
    text-align: right;
    
}

.col-4{
    color: white;
}

body  {
  background-image: url("backimg.jpg");
}


